.wrapper {
    text-align: center;
}

.text {
    padding-left: 25%;
    padding-right: 25%;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align:center;
    overflow: hidden;
}

th {
    background-color: black;
    color: white
}

.mode {
    text-align: center;
}
.collapser {
    background-color: white;
    border: none;
    left:50%;
}

/*Sorting Buttons*/
.Sorters {
    width: 200px;
    height: 25px;
    color: white;
    background-color: red;
    cursor: pointer;
}
.Sorters:hover{
    background-color: firebrick;
}

.Regions{
    padding: 8px 10px;
    background-color: black;
    color: white;
    word-wrap: normal;
}

.Regions:hover{
    background-color:gray;
}

.mirror {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

.AllGen {
    float: left;
    margin-right: 5px;
    font-size:.6em;
    line-height:1.5em;
    text-indent:.5em;
	width:30em;	
    height:1.8em;
    border:1px solid black;
	background:#fff;
}
.AllGen::-webkit-progress-bar { 
    background:white;
    position: aboslute;
}		
.AllGen::-webkit-progress-value {background:black;}

.Gen1 {
    float: left;
    margin-right: 5px;
    font-size:.6em;
    line-height:1.5em;
    text-indent:.5em;
	width:30em;	
    height:1.8em;
    border:1px solid black;
	background:#fff;
}
.Gen1::-webkit-progress-bar { background:white;}		
.Gen1::-webkit-progress-value {background:crimson;}

.Gen2 {
    float: left;
    margin-right: 5px;
    font-size:.6em;
    line-height:1.5em;
    text-indent:.5em;
	width:30em;	
    height:1.8em;
    border:1px solid black;
	background:#fff;
}
.Gen2::-webkit-progress-bar { background:white; }		
.Gen2::-webkit-progress-value {background:gold;}

.Gen3 {
    float: left;
    margin-right: 5px;
    font-size:.6em;
    line-height:1.5em;
    text-indent:.5em;
	width:30em;	
    height:1.8em;
    border:1px solid black;
	background:#fff;
}
.Gen3::-webkit-progress-bar { background:white; }		
.Gen3::-webkit-progress-value {background:green;}

.Gen4 {
    float: left;
    margin-right: 5px;
    font-size:.6em;
    line-height:1.5em;
    text-indent:.5em;
	width:30em;	
    height:1.8em;
    border:1px solid black;
	background:#fff;
}
.Gen4::-webkit-progress-bar { background:white; }		
.Gen4::-webkit-progress-value {background:blue;}

.Gen5 {
    float: left;
    margin-right: 5px;
    font-size:.6em;
    line-height:1.5em;
    text-indent:.5em;
	width:30em;	
    height:1.8em;
    border:1px solid black;
	background:#fff;
}
.Gen5::-webkit-progress-bar { background:white; }		
.Gen5::-webkit-progress-value {background:pink;}

.Gen6 {
    float: left;
    margin-right: 5px;
    font-size:.6em;
    line-height:1.5em;
    text-indent:.5em;
	width:30em;	
    height:1.8em;
    border:1px solid black;
	background:#fff;
}
.Gen6::-webkit-progress-bar { background:white; }		
.Gen6::-webkit-progress-value {background:silver;}

.Gen7 {
    float: left;
    margin-right: 5px;
    font-size:.6em;
    line-height:1.5em;
    text-indent:.5em;
	width:30em;	
    height:1.8em;
    border:1px solid black;
	background:#fff;
}
.Gen7::-webkit-progress-bar { background:white; }		
.Gen7::-webkit-progress-value {background:cyan;}
