.wrapper {
    text-align: center;
}

.text {
    padding-left: 25%;
    padding-right: 25%;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align:center;
    overflow: hidden;
}

th {
    background-color: black;
    color: white
}

.mode {
    text-align: center;
}
.collapser {
    background-color: black;
    color: white;
    border: none;
    height: 25px;
    width: 150px;
    left:50%;
}

.collapser:hover {
    background-color: gray;
}

/*Sorting Buttons*/
.Sorters {
    width: 200px;
    height: 25px;
    color: white;
    background-color: red;
    cursor: pointer;
}
.Sorters:hover{
    background-color: firebrick;
}

.Regions{
    padding: 8px 10px;
    background-color: black;
    color: white;
    word-wrap: normal;
}

.Regions:hover{
    background-color:gray;
}

.mirror {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

#natPercent {
    background-color: black;
}

#Percent1 {
    background-color: red;
}

#Percent2 {
    background-color: gold;
}

#Percent3 {
    background-color: green;
}

#Percent4 {
    background-color: blue;
}

#Percent5 {
    background-color: pink;
}

#Percent6 {
    background-color: silver;
}

#Percent7 {
    background-color: skyblue;
}