#navBar {
    text-align:center;
    border-style:solid;
    width:25%;
    background-color:gray;
    display: flex;
    flex-direction: row;
    margin:0 auto;

}

.link {
    float:left;
    padding:20px;
    color:black;
    
}

a {
    color:black;
}